img {
    width: 100%;
}

:root {
    scroll-behavior: smooth;
    --font-family: "Georgia", sans-serif;
    --second-family: "Arial", sans-serif;
    --third-family: "Inter", sans-serif;
    --color-light-xl: #fff;
    --color-light-l: #f6f6f6;
    --color-light-s: #fafafa;
    --color-dark-s: #cdcdcd;
    --color-dark-m: #b2b2b2;
    --color-dark-l: #545454;
    --color-dark-xl: #4c4c4c;
    --color-dark-2xl: #444;
    --color-dark-3xl: #292929;
    --color-primary: #f1cdb3;
    --color-primary-light: #fddcc4;
    --gradient-background: #211f20;
}

body {
    margin: 0 auto;
}

.main-header {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px 60px 40px;
}


.wraper {
    max-width: 1280px;
    margin: 0 auto;
}


a {
    text-decoration: none;
}

h2,
h1 {
    font-weight: normal;
    margin: 0;
}

.start-page {
    background: url("./assets/img/start-screen-gradient-background.png"), radial-gradient(237.5% 111.8% at 0% 0%, rgb(91, 72, 58) 0%, rgb(38, 36, 37) 100%), var(--gradient-background);
    background-size: cover;
    background-size: 100%;
}

.logo-container {
    height: 60px;
}

.title-site {
    font-family: var(--font-family);
    font-size: 32px;
    line-height: 111%;
    letter-spacing: 0.06em;
    color: var(--color-primary);
    transition: color 0.3s ease-in-out;

    &:hover {
        color: var(--color-light-l);
    }
}

.subtitle-site {
    padding-top: 10px;
    padding-left: 4px;
    font-family: var(--second-family);
    font-size: 13px;
    letter-spacing: 0.1em;
    color: var(--color-light-xl);
}

.burger-menu {
    display: none;
    overflow: hidden;
}

.navigation-list {
    display: flex;
    list-style: none;
}

.navigation-link {
    padding-left: 36px;
    text-decoration: none;
    font-family: var(--second-family);
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-s);
    transition: color 0.3s ease-in-out;

    &.active {
        color: var(--color-light-s);
        text-decoration: underline solid var(--color-primary) 3px;
        text-underline-offset: 7px;
        cursor: default;
    }

    &:hover {
        color: var(--color-light-s);
    }
}

.start-page-container {
    display: flex;
    justify-content: space-between;
}

.start-page-content-text-container {
    padding-top: 194px;
    padding-left: 40px;
}

.start-page-content-text-header {
    width: 310px;
    padding-bottom: 42px;
    margin: 0;
    font-family: var(--font-family);
    font-size: 44px;
    line-height: 130%;
    color: var(--color-light-xl);
    font-weight: normal;
}

.start-page-content-text-desc {
    width: 460px;
    margin-bottom: 42px;
    font-family: var(--second-family);
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-s);
}

.start-page-button-go-to-pets {
    border-radius: 100px;
    width: 207px;
    height: 52px;
    background-color: var(--color-primary);
    border: none;
    transition: background-color 0.3s ease-in-out;
    display: inline-block;
    text-align: center;
    align-content: center;
    font-family: var(--font-family);
    font-size: 17px;
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);

    &:hover {
        cursor: pointer;
        background-color: var(--color-primary-light);
    }
}

.content-img {
    height: 728px;
    padding-right: 40px;
    padding-top: 30px;

    &img {
        width: 100%;
    }
}

.about-container {
    display: flex;
    background: var(--color-light-xl);
    padding: 80px 40px 100px 40px;
}

.wraper.about {
    display: flex;
}

.about-text-container {
    margin: 14px 0 0 120px;
}

.about-header-text {
    padding: 0 60px 25px 0;
    font-family: var(--font-family);
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.about-text-part-one {
    width: 430px;
    font-family: var(--second-family);
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-xl);
}

.about-text-part-two {
    width: 430px;
    margin-top: 25px;
    font-family: var(--second-family);
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-xl);
}

.our-pets-container {
    height: 877px;
    background: var(--color-light-l);
}

.our-pets-header {
    padding: 76px 440px 60px 440px;
    font-family: var(--font-family);
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-l);
}

.our-pets-img-container {
    display: flex;
    height: 430px;
}

.arrow {
    border: none;
    background: none;
    padding: 190px 8px 403px 40px;

    &.right {
        padding: 190px 40px 403px 8px;
    }
}

svg.arrow-svg {
    transition: background-color 0.3s ease-in-out;
    border-radius: 50%;

    &:hover {
        cursor: pointer;
        background-color: var(--color-primary-light);
    }
}

.pet-cart-container {
    display: flex;
}

.pet-cart {
    padding-right: 45px;
    padding-left: 45px;

    &:hover {
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
        cursor: pointer;
    }
}

.pet-name {
    margin: 25px 0 31px 96px;
    font-family: var(--font-family);
    font-size: 20px;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);

    &.woody {
        margin-left: 101px;
    }
}

.learn-more-button {
    border-radius: 100px;
    width: 187px;
    height: 53px;
    margin: 0 0 0 41px;
    background: none;
    border: var(--color-primary-light) solid 2px;
    transition: background-color 0.3s ease-in-out;

    color: var(--color-dark-3xl);
    font-family: var(--font-family);
    font-size: 17px;
    line-height: 90%;
    letter-spacing: 0.06em;

    &:hover {
        background-color: var(--color-primary-light);
        cursor: pointer;
    }
}

.our-pets-button {
    border-radius: 100px;
    width: 261px;
    height: 52px;
    margin: 64px 0 0 510px;
    background: var(--color-primary);
    border: none;
    transition: background-color 0.3s ease-in-out;
    font-family: var(--font-family);
    font-size: 17px;
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);
    display: inline-block;
    text-align: center;
    align-content: center;

    &:hover {
        cursor: pointer;
        background-color: var(--color-primary-light);
    }
}

.help-container {
    background: var(--color-light-xl);
    padding-bottom: 44px;
}

.help-header {
    width: 310px;
    padding: 76px 0 60px 486px;
    text-align: center;
    font-family: var(--font-family);
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.help-icons-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.wraper.help {
    max-width: 1200px;
}

.help-icon-container {
    margin-right: 120px;
    margin-bottom: 55px;
    text-align: center;

    &.shampoos,
    &.sleeping {
        margin-right: 0;
    }
}

.icon-name {
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    padding-top: 26px;
}

.donation {
    background: var(--color-light-l);
}

.donation-container {
    padding: 35px 0 100px 0;
    display: flex;
}

.img-donation-dog {
    padding: 56px 30px 0 183px;
}

.donation-header {
    padding-top: 44px;
    width: 300px;
    font-family: var(--font-family);
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.donation-info-bank {
    padding-top: 20px;
    font-family: var(--font-family);
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.donation-credit-cart-container {
    display: flex;
    padding-top: 20px;
}

.card-box {
    border-radius: 9px;
    padding: 10px 15px;
    background-color: var(--color-primary);
    display: flex;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: var(--color-primary-light);
    }
}

.card-number {
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    padding-left: 15px;
}

.donation-subtitle {
    font-family: var(--second-family);
    font-style: italic;
    font-size: 12px;
    line-height: 150%;
    color: var(--color-dark-m);
    padding-top: 20px;
    width: 380px;
}

#contacts {
    background: url("./assets/img/start-screen-gradient-background.png"), radial-gradient(237.5% 111.8% at 0% 0%, rgb(91, 72, 58) 0%, rgb(38, 36, 37) 100%), var(--gradient-background);
    background-size: cover;
    background-size: 100%;
}

.contacts-container {
    display: flex;
    padding: 40px 0px 0 80px;
}

.contacts-header {
    font-family: var(--font-family);
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-light-xl);
    width: 279px;
    padding-top: 16px;
}

.contacts-email,
.contacts-phone {
    display: flex;
    padding-top: 40px;
}

.email,
.phone {
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-primary);
    text-align: center;
    margin: 0;
    margin-left: 20px;
    margin-top: 5px;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: var(--color-primary-light);
    }
}

.location-container {
    margin-left: 161px;
    margin-top: 16px;
    margin-right: 166px;
}

.location-header {
    font-family: var(--font-family);
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-light-xl);
    width: 270px;
}

.location {
    display: flex;
    margin-top: 40px;
}

.london {
    margin-top: -10px;
}

.location-text {
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-primary);
    margin: 0;
    margin-left: 18px;
    margin-top: -6px;
    width: 254px;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: var(--color-primary-light);
    }
}

.header-our-pets-page {
    background: var(--color-light-xl);
    height: 121px;
}

.header-container-our-pets-page {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px 60px 40px;
}

.title-site.our-pets {
    line-height: 110%;
    color: var(--color-dark-l);
    font-weight: normal;
    margin: 0;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: var(--color-dark-3xl);
    }
}

.subtitle-site.our-pets {
    color: var(--color-dark-3xl);
}

.navigation-link.our-pets {
    color: var(--color-dark-l);

    &:hover {
        color: var(--color-dark-3xl);
    }
}

.navigation-link.our-pets.active {
    color: var(--color-dark-3xl);
    text-decoration: underline solid var(--color-primary) 3px;
    text-underline-offset: 7px;
}

.our-pets-header.our-pets-page {
    padding: 80px 0 0 0;
}

.our-pets-main-content {
    background-color: var(--color-light-l);
    height: 1341px;
}

.pet-cart-container.our-pets-page {
    display: flex;
    justify-content: center;
}

.pet-cart-container.our-pets-page {
    flex-wrap: wrap;
    margin: 44px 0 0 0;
}

.pet-cart.our-pets-page {
    padding: 14px 20px 44px 20px;
    line-height: 128%;
}

.learn-more-button.our-pets-page {
    background: var(--color-light-s);
    border: solid var(--color-primary) 2px;
    margin: 0 43px 0 40px;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
        background: var(--color-primary-light);
        border: solid var(--color-primary-light) 2px;
    }
}

.pet-cart:last-child {
    width: auto;
}

.btn-container {
    display: flex;
    margin: 48px 0 0 471px;
}

.btn-paginator {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: none;
    margin-right: 20px;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: center;
    transition: background-color 0.3s ease-in-out;

    &.inactive {
        font-family: var(--font-family);
        color: var(--color-dark-s);
        border: var(--color-dark-s) solid 2px;

        &:hover {
            cursor: not-allowed;
        }
    }

    &.active {
        font-family: var(--font-family);
        color: var(--color-dark-3xl);
        background-color: var(--color-primary);
        border: none;
    }

    &.next {
        font-family: var(--font-family);
        color: var(--color-dark-3xl);
        border: var(--color-primary) solid 2px;
        transition: background-color 0.3s ease-in-out;

        &:hover {
            border: var(--color-primary-light) solid 2px;
            background-color: var(--color-primary-light);
            cursor: pointer;
        }
    }
}


@media screen and (max-width: 768px) {
    .start-page-container {
        display: flex;
        flex-direction: column;
    }

    .wraper {
        max-width: 768px;
    }

    .main-header {
        padding: 30px 30px 60px 30px;
    }

    .start-page-content-text-container {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 569px;
        margin: 0 auto;
    }

    .btn-make-a-friend {
        padding-left: 126px;
    }

    .content-img {
        display: flex;
        max-width: 569px;
        margin: 100px 30px 0 auto;
        padding: 0;
        max-height: 593px;
    }

    .wraper.about {
        display: flex;
        flex-direction: column-reverse;
    }

    .about-text-container {
        margin: 0;
    }

    .about-img {
        max-width: 300px;
        max-height: 408px;
        margin: 80px auto 0 auto;
    }

    .wraper.our-pets-main {
        display: flex;
        flex-direction: column;
        height: 877px;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 80px 0px 100px 4px;
    }

    .our-pets-header {
        max-height: 90px;
        padding: 0;
    }

    .btn-get-to-know {
        max-height: 52px;
        display: flex;
        align-items: center;
    }

    .our-pets-button {
        margin: auto;
    }

    .arrow {
        padding: 0 12px 0 0;
        display: flex;
        align-items: center;

        &.right {
            padding: 0 0 0 12px;
        }
    }

    .our-pets-img-container {
        display: flex;
        height: 435px;
        width: 708px;
        margin: 0 auto;
    }

    .pet-cart {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 270px;
        height: 435px;
        padding: 0;
        margin-left: -1px;
        margin-right: 41px;
    }

    .pet-cart-container {
        display: flex;
        max-width: 580px;
        overflow: hidden;
    }

    .learn-more-button {
        margin: 0;
    }

    .pet-name {
        margin: 30px 0 30px 0;
    }

    .help-header {
        padding: 0;
        margin: 80px auto 60px;
    }

    .help-icon-container {
        width: 30%;
        margin-right: 0;
    }

    .donation-container {
        padding: 35px 0 73px 0;
        display: flex;
        flex-direction: column-reverse;
    }

    .img-donation-dog {
        padding: 60px 0 22px 0;
        margin: 0 auto;
    }

    .donation-text-container {
        margin: 0 auto;
    }

    .location-container {
        margin: 0;
        padding: 15px 0px 0 60px;
    }

    .contacts-container {
        display: flex;
        flex-wrap: wrap;
        padding: 15px 0px 0 65px;
    }

    .donation-dog-img {
        max-width: 300px;
        max-height: 310px;
        padding: 65px 0 0 170px;
    }

    .our-pets-header.our-pets-page {
        padding: 80px 0 0 0;
    }

    .header-container-our-pets-page {
        display: flex;
        justify-content: flex-start;
        padding: 0;
        margin: auto;
        height: 60px;
        width: 708px;
        align-content: flex-end;
        align-items: stretch;
        flex-wrap: wrap;
        flex-direction: row;
        padding-top: 30px;
    }

    .pet-cart-container.our-pets-page {
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 618px;
        height: 1365px;
        display: flex;
        justify-content: space-around;
    }

    .pet-cart.our-pets-page {
        padding: 0;
        line-height: 128%;
        width: 270px;
        height: 435px;
        margin: auto;
        margin-top: 30px;
    }

    .our-pets-main-content {
        background-color: var(--color-light-l);
        height: 1732px;
    }

    .btn-container.our-pets-page {
        width: 340px;
        height: 52px;
        margin: 0 auto;
        margin-top: 68px;
        justify-content: space-between;

        & .btn-paginator {
            margin-right: 0;
        }
    }

    .pet-name {
        &.woody {
            margin-left: 0;
        }
    }
}

@media screen and (max-width:320px) {
    .wraper {
        max-width: 320px;
    }

    .start-page {
        height: 823px;
    }

    .main-header {
        max-width: 280px;
        margin: 0 auto;
        padding: 30px 0 30px 0;
    }

    .navigation-container {
        display: none;
        overflow: hidden;
    }

    .burger-menu {
        display: flex;
        overflow: visible;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 22px;
        align-items: center;
        margin: auto 0;
    }

    .line-burger-menu {
        border: 2px solid var(--color-primary);
        width: 30px;
        height: 0px;
    }

    .start-page-container {
        max-width: 300px;
        min-height: 703px;
        margin: auto;
    }

    .start-page-content-text-container {
        max-width: 300px;
        min-height: 296px;
        align-items: center;
        padding-top: 30px;
        margin: 0;
        justify-content: space-between;
    }

    .start-page-content-text-header {
        font-size: 25px;
        padding: 0;
        margin: 0;
        text-align: center;
        width: auto;
        width: 250px;
        letter-spacing: 0.06em;
    }

    .start-page-content-text-desc {
        padding: 0;
        margin: 0;
        text-align: center;
        width: auto;
    }

    .btn-make-a-friend {
        padding: 0;
        padding: 0;
        margin: 0;
    }

    .content-img {
        margin: 0;
        padding: 0;
        width: 260px;
        height: 271.77px;
        padding-left: 40px;
    }

    .wraper.about {
        justify-content: space-evenly;
        align-items: center;
    }

    .about-container {
        padding: 0;
        height: 974px;
    }

    .about-text-container {
        margin: 0 auto;
        width: 300px;
        height: 494px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .about-header-text {
        padding: 0;
        font-family: var(--font-family);
        font-size: 25px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: var(--color-dark-l);
        text-align: Center;
    }

    .about-text-part-one {
        width: 270px;
        font-family: var(--second-family);
        font-size: 15px;
        line-height: 160%;
        color: var(--color-dark-xl);
        text-align: justify;
        padding-top: 23px;
    }

    .about-text-part-two {
        width: 270px;
        margin-top: 25px;
        font-family: var(--second-family);
        font-size: 15px;
        line-height: 160%;
        color: var(--color-dark-xl);
        text-align: justify;
    }

    .about-img {
        width: 260px;
        height: 353.6px;
        margin: 0;
    }

    .wraper.our-pets-main {
        height: 791px;
        justify-content: unset;
        box-sizing: border-box;
        padding: 42px 0px 0px 0px;
    }

    .our-pets-header {
        font-size: 25px;
    }

    .pet-cart-container {
        display: flex;
        width: 270px;
        height: auto;
        overflow: hidden;
        order: -1;
    }

    .our-pets-img-container {

        width: 270px;
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-top: 40px;
    }

    .pet-name {
        margin: 31px;
    }

    .pet-cart-photo {
        width: 270px;
        height: 270px;
    }

    .pet-cart {
        height: auto;
    }

    .learn-more-button {
        margin: 0;
        margin-bottom: 50px;
    }

    .btn-get-to-know {
        max-height: 52px;
        display: flex;
        align-items: center;
        margin-top: 115px;
    }

    .help-header {
        padding: 0;
        margin: 45px auto 30px;
        font-size: 25px;
        text-align: center;
        width: 222px;
    }

    .help-content {
        margin: 0 auto;
        width: 320px;
        height: 745px;
    }

    .help-icon-container {
        width: 50%;
        margin-right: 0;
        margin-bottom: 26px;
        height: 87px;
    }

    .icon-name {
        font-size: 15px;
        line-height: 110%;
        letter-spacing: 0.06em;
        text-align: center;
    }

    .help-icons-container {
        justify-content: unset;
        width: 320px;
        height: 588px;
        margin: 0 auto;
    }

    .help-container {
        padding-bottom: 0;
    }

    .svg-icon {
        max-width: 50px;
        max-height: 50px;
        margin: auto;

        & svg {
            max-width: 50px;
            max-height: 50px;
        }
    }

    .donation-header {
        font-size: 25px;
        line-height: 130%;
        letter-spacing: 0.06em;
        text-align: center;
        width: 210px;
        margin: 0 auto;
        padding: 0;
    }

    .donation-container {
        padding: 0;

    }

    .donation-text-container {
        margin: 0 auto;
        width: 300px;
    }

    .donation-info-bank {
        padding-top: 16px;
        font-size: 15px;
        line-height: 160%;
        width: 298px;
        height: 24px;
        text-align: center;
        letter-spacing: 0;
    }

    .card-number {
        font-family: var(--font-family);
        font-size: 15px;
        line-height: 140%;
        letter-spacing: 0.06em;
        color: var(--color-dark-l);
        padding-left: 19px;
    }

    .card-box {
        border-radius: 9px;
        padding: 10px 20px;
        background-color: var(--color-primary);
        display: flex;
        transition: background-color 0.3s ease-in-out;
    }

    .donation-subtitle {
        font-family: var(--second-family);
        font-style: italic;
        font-size: 12px;
        line-height: 150%;
        color: var(--color-dark-m);
        padding-top: 20px;
        width: 280px;
        text-align: justify;
        margin: auto;
    }

    .img-donation-dog {
        padding: 43px 0 41px 0;
        margin: 0 auto;
        width: 260px;
        height: 135.2px;
    }

    .contacts-container {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        width: 320px;
        height: 809px;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }

    .location-container {
        margin: 0;
        padding: 0;
    }

    .donation-dog-img {
        max-width: 300px;
        max-height: 310px;
        padding: 0;
    }

    #contacts h2 {
        font-size: 25px;
    }


    .contacts-data-container {
        width: 278px;
        height: 208px;
    }

    .contacts-data-container {
        width: 278px;
        height: 210px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        /* align-content: center; */
        justify-content: flex-start;
        align-items: center;
    }

    .contacts-header {
        font-family: var(--font-family);
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: var(--color-light-xl);
        width: 225px;
        padding-top: 16px;
        text-align: center;
    }


    .location-container {
        margin: 0;
        padding: 0;
        width: 300px;
        height: 276px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .location-header {
        font-family: var(--font-family);
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: var(--color-light-xl);
        width: 270px;
        text-align: center;
        padding-top: 4px;
    }

    .donation-dog-img {
        padding: 0;
        width: 252px;
        height: 252px;
    }

    .location {
        display: flex;
        margin-top: 46px;
    }

    .header-container-our-pets-page {
        width: 280px;
        height: 60px;
        justify-content: space-between;
    }

    .our-pets-header.our-pets-page {
        padding: 40px 0 0 0;
    }

    .pet-cart.our-pets-page {
        margin-top: 42px;
    }

    .pet-cart.our-pets-page {
        padding: 0;
        line-height: 128%;
        width: 270px;
        height: 423px;
        margin: auto;
        margin-top: 42px;
    }

    .pet-name.woody {
        margin: 31px;
    }

    .btn-container.our-pets-page {
        width: 297px;
        margin-top: 83px;
    }

    .our-pets-main-content {
        background-color: var(--color-light-l);
        height: 1648px;
    }
}