img {
    width: 100%;
}

body {
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h2,
h1 {
    font-weight: normal;
    margin: 0;
}

:root {
    scroll-behavior: smooth;
    --font-family: "Georgia", sans-serif;
    --second-family: "Arial", sans-serif;
    --third-family: "Inter", sans-serif;
    --color-light-xl: #fff;
    --color-light-l: #f6f6f6;
    --color-light-s: #fafafa;
    --color-dark-s: #cdcdcd;
    --color-dark-m: #b2b2b2;
    --color-dark-l: #545454;
    --color-dark-xl: #4c4c4c;
    --color-dark-2xl: #444;
    --color-dark-3xl: #292929;
    --color-primary: #f1cdb3;
    --color-primary-light: #fddcc4;
    --gradient-background: #211f20;
}

.wraper {
    max-width: 1280px;
    margin: 0 auto;
}


/* ---------------------------------------start page + header----------------------------------------------------*/
.start-page {
    height: 908px;

    background: url("./assets/img/start-screen-gradient-background.png"), radial-gradient(237.5% 111.8% at 0% 0%, rgb(91, 72, 58) 0%, rgb(38, 36, 37) 100%), var(--gradient-background);
    background-size: cover;
}

#about {
    position: relative;
}

.header_container_start-page {
    height: 120px;

    margin: auto;
    display: flex;
}

.header_content_start-page {
    width: 93.5%;
    height: 50%;

    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo_title {
    font-size: 32px;
    line-height: 111%;
    letter-spacing: 0.06em;
    color: var(--color-primary);
    font-family: var(--font-family);
    transition: color 0.3s ease-in-out;

    &:hover {
        color: var(--color-light-l);
    }
}

.logo_subtitle {
    font-size: 13px;
    letter-spacing: 0.1em;
    color: var(--color-light-xl);
    font-family: var(--second-family);
}

nav.navigation_container {
    width: 443px;
}

.navigation_list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
}

.navigation_link {
    font-size: 15px;
    text-decoration: none;
    line-height: 160%;
    color: var(--color-dark-s);
    font-family: var(--second-family);
    transition: color 0.3s ease-in-out;

    &.active {
        color: var(--color-light-s);
        text-decoration: underline solid var(--color-primary) 3px;
        text-underline-offset: 7px;
        cursor: default;
    }

    &:hover {
        color: var(--color-light-s);
    }
}

.burger-menu {
    display: none;
    overflow: hidden;
}

.mobile-menu {
    display: none;
    overflow: hidden;
}

/*-------header-end------------------------------------------------------------------------------------------------*/

.start-page_container {
    width: 93.5%;
    height: 788px;

    display: flex;
    justify-content: space-between;
    margin: auto;
}

.start-page_content-text_container {
    width: 38.5%;
    height: 340px;

    margin: auto auto auto 0;
}

.start-page_content-text_title {
    width: 400px;

    padding-bottom: 42px;
    font-size: 44px;
    line-height: 130%;
    color: var(--color-light-xl);
    font-family: var(--font-family);
    font-weight: normal;
}

.start-page_content-text_subtitle {
    width: 100%;

    padding-bottom: 42px;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-s);
    font-family: var(--second-family);
}

.start-page_button-go-to-pets {
    width: 207px;
    height: 52px;

    border-radius: 100px;
    border: none;
    display: inline-block;
    text-align: center;
    align-content: center;
    font-family: var(--font-family);
    font-size: 17px;
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);
    background-color: var(--color-primary);
    transition: background-color 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
        background-color: var(--color-primary-light);
    }
}

.start-page_img_container {
    align-self: flex-end;

    &img {
        width: 100%;
    }
}

/*-------------------------------------about page-----------------------------------------------------------------*/

.about-page {
    height: 588px;
    background: var(--color-light-xl);

    & .wraper {
        height: 588px;
        display: flex;
    }
}

.about-page_container {
    width: 93.5%;
    height: 408px;

    display: flex;
    margin: auto;
    justify-content: center;
}

.about-page_img_container {
    margin-right: 119px;
    margin-top: -10px;
}

.about-page_content_container {
    width: 35.8%;
    height: 380px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 4px;
}

.about-page_content_title {
    width: 370px;
    height: 90px;

    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    font-family: var(--font-family);
}

.about-page_content_subtitle_part-one {
    width: 100%;
    height: 96px;

    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-xl);
    font-family: var(--second-family);
}

.about-page_content_subtitle_part-two {
    width: 100%;
    height: 144px;

    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-xl);
    font-family: var(--second-family);
}

/* -------------------------------------------pets page------------------------------------------------ */

.pets-page {
    height: 877px;

    background: var(--color-light-l);

    & .wraper {
        height: 877px;
        display: flex;
    }
}

.pets-page_container {
    width: 93.7%;
    height: 717px;

    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pets-page_content_header_container {
    height: 90px;
    display: flex;
}

.pets-page_content_header {
    width: 400px;
    height: 90px;

    margin: auto;
    font-size: 35px;
    letter-spacing: 0.06em;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--color-dark-l);
    font-family: var(--font-family);
}

.pets-page_slider_container {
    width: 100%;
    height: 435px;

    display: flex;
}

.slider-arrow {
    border: none;
    background: none;
    padding: 0;
    margin: auto;

    &.right {
        padding: 0;
    }
}

.slider-arrow svg {
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
        background-color: var(--color-primary-light);
    }
}

.pets-page_pet-carts_container {
    display: flex;
    margin: 0 auto;
    overflow: hidden;
}

.pets-page_pet-cart {
    padding-right: 45px;
    padding-left: 45px;

    &:hover {
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
        cursor: pointer;

        & .pet-cart-button {
            background-color: var(--color-primary-light);
            cursor: pointer;
        }
    }
}

.pet-cart-name {
    margin: 25px 0 31px 96px;
    font-size: 20px;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    font-family: var(--font-family);

    &.woody {
        margin-left: 101px;
    }
}

.pets-page_button_container {
    height: 52px;
    margin-bottom: 20px;
}

.pet-cart-button {
    width: 187px;
    height: 53px;
    margin: 0 0 0 41px;
    border-radius: 100px;
    background: none;
    border: var(--color-primary-light) solid 2px;
    transition: background-color 0.3s ease-in-out;

    color: var(--color-dark-3xl);
    font-family: var(--font-family);
    font-size: 17px;
    line-height: 90%;
    letter-spacing: 0.06em;

    &:hover {
        background-color: var(--color-primary-light);
        cursor: pointer;
    }
}

.pets-page_button {
    border-radius: 100px;
    width: 261px;
    height: 52px;
    background: var(--color-primary);
    border: none;
    transition: background-color 0.3s ease-in-out;
    font-family: var(--font-family);
    font-size: 17px;
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);
    display: inline-block;
    text-align: center;
    align-content: center;

    &:hover {
        cursor: pointer;
        background-color: var(--color-primary-light);
    }
}

/* --------------------------------------help page---------------------------------------------------------------*/

.help-page {
    height: 611px;
    background: var(--color-light-xl);

    & .wraper {
        height: 611px;
        display: flex;
    }
}

.help-page_container {
    width: 1200px;
    height: 450px;

    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help-page_header {
    width: 310px;
    height: 90px;

    text-align: center;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    font-family: var(--font-family);
}

.help-page_icons-container {
    height: 240px;
    display: flex;
    margin: auto;
}

.help-page_icons-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.help-page_icon-item {
    margin-right: 120px;
    margin-bottom: 55px;
    text-align: center;

    &.shampoos,
    &.sleeping {
        margin-right: 0;
    }
}

.icon-name {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    font-family: var(--font-family);
    padding-top: 26px;
}

/*---------------------------------------------------donation-page------------------------------------------*/

.donation-page {
    height: 462px;
    background: var(--color-light-l);

    & .wraper {
        height: 462px;
        display: flex;
    }
}

.donation-page_container {
    width: 915px;
    height: 288px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.donation-page_text_container {
    display: flex;
    flex-direction: column;
}

.donation-page_header {
    width: 300px;
    font-size: 35px;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    font-family: var(--font-family);
}

.donation-page_info-bank {
    font-size: 15px;
    padding-top: 24px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    font-family: var(--font-family);
}

.donation-page_credit-card_container {
    display: flex;
    padding-top: 20px;
}

.card-box {
    border-radius: 9px;
    padding: 10px 15px;
    display: flex;
    background-color: var(--color-primary);
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: var(--color-primary-light);
    }
}

.card-number {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    font-family: var(--font-family);
    padding-left: 15px;
}

.donation-page_subtitle {
    width: 380px;

    font-size: 12px;
    line-height: 150%;
    color: var(--color-dark-m);
    font-family: var(--second-family);
    font-style: italic;
    padding-top: 20px;
}

/* ------------------------------------------------contacts page------------------------------------------------*/

#contacts-page {
    height: 350px;
    background: url("./assets/img/start-screen-gradient-background.png"), radial-gradient(237.5% 111.8% at 0% 0%, rgb(91, 72, 58) 0%, rgb(38, 36, 37) 100%), var(--gradient-background);
    background-size: cover;

    & .wraper {
        height: 350px;
        display: flex;
    }
}

.contacts-page_container {
    width: 1200px;
    height: 310px;

    margin: auto auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.contacts-page_contacts_container {
    width: 278px;
    height: 269px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.contacts_header {
    width: 279px;

    font-size: 35px;
    line-height: 123%;
    letter-spacing: 0.06em;
    color: var(--color-light-xl);
    font-family: var(--font-family);
}

.contacts-email,
.contacts-phone {
    display: flex;
}

.email,
.phone {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-primary);
    font-family: var(--font-family);
    text-align: center;
    margin: 0;
    margin-left: 20px;
    margin-top: 5px;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: var(--color-primary-light);
    }
}

.contacts-page_location_container {
    width: 302px;
    height: 269px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.location-header {
    width: 270px;
    height: 90px;

    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-light-xl);
    font-family: var(--font-family);
}

.location {
    display: flex;
}

.location-text {
    width: 254px;

    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-primary);
    font-family: var(--font-family);
    margin: 0;
    margin-left: 18px;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: var(--color-primary-light);
    }
}

/*-----------------------------------------------------------------------------------our-pets ------------------*/
/*----------------------------------------------------------------------header----------------------------------*/
.header_container_start-page.our-pets-page {
    background: var(--color-light-xl);
}

.logo_title.our-pets-page {
    color: var(--color-dark-l);
    transition: color 0.3s ease-in-out;

    &:hover {
        color: var(--color-dark-3xl);
    }
}

.logo_subtitle.our-pets-page {
    color: var(--color-dark-3xl);
}

.navigation_link.our-pets-page {
    color: var(--color-dark-l);

    &:hover {
        color: var(--color-dark-3xl);
    }
}

.navigation_link.our-pets-page.active {
    color: var(--color-dark-3xl);
    text-decoration: underline solid var(--color-primary) 3px;
    text-underline-offset: 7px;
}

/*----------------------------------------------------------pets page our pets----------------------------------*/
.pets-page.our-pets-page {
    height: 1341px;

    & .wraper {
        height: 1341px;
    }
}

.pets-page_container.our-pets-page {
    width: 1200px;
    height: 1182px;
}

.pets-page_pet-carts_container.our-pets-page {
    height: 930px;

    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pets-page_pet-cart.our-pets-page {
    width: 270px;
    height: 435px;
    padding: 0;
}

.btn-container {
    height: 70px;

    display: flex;
    margin: 0;
    margin-left: 21px;
}

.btn-paginator {
    width: 52px;
    height: 52px;

    border-radius: 50%;
    background: none;
    margin-right: 20px;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: center;
    transition: background-color 0.3s ease-in-out;

    &.inactive {
        font-family: var(--font-family);
        color: var(--color-dark-s);
        border: var(--color-dark-s) solid 2px;

        &:hover {
            cursor: not-allowed;
        }
    }

    &.active {
        font-family: var(--font-family);
        color: var(--color-dark-3xl);
        background-color: var(--color-primary);
        border: none;
    }

    &.next {
        font-family: var(--font-family);
        color: var(--color-dark-3xl);
        border: var(--color-primary) solid 2px;
        transition: background-color 0.3s ease-in-out;

        &:hover {
            border: var(--color-primary-light) solid 2px;
            background-color: var(--color-primary-light);
            cursor: pointer;
        }
    }
}

/*---------------------------------------------------------Adaptability------------------------------------------*/

@media screen and (max-width:1120px) {

    /* -----------------------about page----------------------------*/
    .about-page {
        height: 1048px;

        & .wraper {
            height: 1048px;
        }
    }

    .about-page_container {
        width: 56%;
        height: 898px;

        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .about-page_content_container {
        width: 98.3%;
    }

    .about-page_img_container {
        margin: 0;
    }

    /*------------------------pets page-----------------------------*/

    .pets-page_pet-carts_container {
        max-width: 660px;
    }

    .pets-page_pet-carts_container.our-pets-page {
        max-height: 870px;
    }

    /*-----------------------help page-------------------------------*/
    .help-page {
        height: 779px;

        & .wraper {
            height: 779px;
        }
    }

    .help-page_container {
        width: 630px;
        height: 618px;

        justify-content: space-between;
    }

    .help-page_icons-container {
        height: 469px;
        margin: 0;
    }

    .help-page_icons-content {
        height: 451px;

        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-between;
        margin: 0;
    }

    .help-page_icon-item {
        width: 170px;
        height: 113px;

        margin: 0;
    }

    .help-page_icons-container {
        margin: 0;
    }
}

@media screen and (max-width: 970px) {

    /*--------------------------------donation page------------*/
    .donation-page {
        height: 783px;

        & .wraper {
            height: 783px;
        }
    }

    .donation-page_container {
        width: 380px;
        height: 610px;

        justify-content: space-between;
        flex-direction: column-reverse;
    }

    .donation-page_img {
        margin-left: -63px;

        & img {
            width: 66vw;
        }
    }

}

@media screen and (max-width: 768px) {
    .wraper {
        max-width: 768px;
    }

    /* ---------------------------------------start page-------------------------*/
    .start-page {
        height: 1165px;

        & .wraper {
            display: flex;
            flex-direction: column;
        }
    }

    .header_container_start-page {
        width: 92%;
    }

    nav.navigation_container {
        width: 62.5%;
    }

    .header_content_start-page {
        width: 708px;
    }

    .start-page_container {
        width: 74%;
        height: 1045px;

        flex-direction: column;
        margin: auto auto 0 auto;
    }

    .start-page_content-text_container {
        width: 80.8%;
        height: 322px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 auto;
        margin-top: 30px;
        align-items: center;
    }

    .start-page_content-text_title_wraper {
        width: 100%;
    }

    .start-page_content-text_title {
        width: 70.8%;

    }

    .start-page_img_container {
        display: flex;
        margin-left: 70px;
        align-self: normal;

        & img {
            width: 74vw;
        }
    }

    /*-----------------------------about page---------------------------*/
    .about-page {
        height: 1048px;

        & .wraper {
            height: 1048px;
        }
    }

    .about-page_container {
        width: 56.9%;
        height: 898px;

        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .about-page_content_container {
        width: 98.3%;
    }

    .about-page_content_title {
        width: 86%;
    }

    .about-page_img_container {
        padding-bottom: 20px;

        & img {
            width: 39vw;
        }
    }

    /*-------------------------pets page----------------------------------*/

    .pets-page_container {
        width: 708px;
        height: 712px;
    }

    .pets-page_content_header_container {
        height: 74px;
    }

    .pets-page_content_header {
        line-height: 45.5px;
    }

    .pets-page_slider_container {
        height: 410px;
        margin: auto;
    }

    .pets-page_pet-carts_container {
        overflow: hidden;
    }

    .pets-page_pet-cart {
        padding-right: 17px;
        padding-left: 17px;
    }

    .pet-cart-photo {
        width: 270px;
        height: 270px;
    }

    .slider-arrow {
        margin-top: 188px;
    }

    /*--------------------------help page----------------------------------*/
    .help-page {
        height: 779px;

        & .wraper {
            height: 779px;
        }
    }

    .help-page_icon-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* ----------------------donation page--------------------------*/

    .donation-page {
        height: 783px;

        & .wraper {
            height: 783px;
        }
    }

    .donation-page_container {
        width: 49.4%;
        margin: auto;
        align-items: center;
    }

    .donation-page_img {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .donation-page_text_container {
        width: 100%;
    }

    .donation-page_info-bank,
    .donation-page_credit-card_container,
    .donation-page_subtitle,
    .donation-page_header_wraper {
        width: 100%;
    }

    .donation-page_header {
        width: 78.9%;
    }

    /*------------------------contacts page------------------*/
    #contacts-page {
        height: 639px;

        & .wraper {
            height: 639px;
        }
    }

    .contacts-page_container {
        width: 708px;
        height: 637px;
        flex-wrap: wrap;
        margin: auto;
        justify-content: space-around;
        align-content: space-between;
    }

    .contacts-page_img {
        margin: 0;

        & img {
            width: 39vw;
        }
    }

    .contacts-page_location_container,
    .contacts-page_contacts_container {
        height: 298px;
        justify-content: space-evenly;
    }

    .contacts_header {
        line-height: normal;
        margin-top: -7px;
    }

    /* ------------------------------pets page our pets----------------------------*/

    .pets-page.our-pets-page {
        height: 1733px;

        & .wraper {
            height: 1733px;
        }
    }

    .pets-page_container.our-pets-page {
        width: 708px;
        height: 1573px;
    }

    .pets-page_pet-carts_container.our-pets-page {
        height: 1400px;
        max-height: 1400px;
        padding-top: 0;
        justify-content: space-evenly;
        overflow: hidden;
        order: unset;
    }

    .pets-page_pet-cart.our-pets-page {
        margin-bottom: 8px;
        margin-top: 22px;
    }

    .pet-cart-name {
        margin: 27px 0 34px 101px;
    }

    .btn-container.our-pets-page {
        width: 340px;
        height: 52px;

        margin: 0 auto;
        justify-content: space-between;

        & .btn-paginator {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 767px) {
    .navigation_container {
        display: none;
        overflow: hidden;
    }

    .burger-menu {
        display: flex;
        overflow: visible;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 22px;
        align-items: center;
        margin: auto 0;
        z-index: 100;

        &.clicked {
            transform: rotate(90deg)
        }
    }

    .line-burger-menu {
        border: 2px solid var(--color-primary);
        width: 30px;
        height: 0px;

        &.our-pets-page {
            border: 2px solid black;
        }
    }

    .mobile-menu.clicked {
        overflow: visible;
        display: flex;
        width: 320px;
        height: 100%;
        background: var(--color-dark-3xl);
        position: absolute;
        right: 0;
    }

    .mobile-menu_container {
        overflow: visible;
        display: flex;
        width: 320px;
        height: 100%;

    }

    .mobile-menu_navigation_list {
        width: 243px;
        height: 327px;
        margin: auto;
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

.mobile-menu_navigation_link {
    font-size: 32px;
    text-decoration: none;
    line-height: 160%;
    color: var(--color-dark-s);
    font-family: var(--second-family);
    padding: 0;
    transition: color 0.3s ease-in-out;

    &.active {
        color: var(--color-light-s);
        text-decoration: underline solid var(--color-primary) 3px;
        text-underline-offset: 7px;
        cursor: default;
    }

    &:hover {
        color: var(--color-light-s);
    }
}



@media screen and (max-width:738px) {

    /*------------------------------------start page--------*/
    .start-page_content-text_title_wraper {
        width: 100%;
    }

    .start-page_content-text_title {
        width: 100%;
    }

    /*----------------------------------------pets page---------*/
    .pets-page_pet-carts_container {
        max-width: 270px;
        padding: 0;
    }

    .slider-arrow {
        margin-left: 0;
        margin-right: 0;
    }

    .pets-page_pet-cart {
        padding: 0;
    }

    /*------------------------------------donation page-----*/
    .donation-page_header {
        font-size: 25px;
    }
}

@media screen and (max-width:650px) {

    /*-------------------------about page ----------*/
    .about-page_container {
        width: 96%;
    }

    .about-page_content_container {
        width: 98.3%;
    }

    .about-page_content_title {
        width: 100%;
    }

    .about-page_img_container {
        & img {
            width: 55vw;
        }
    }

    /*----------------------donation page-----*/
    .card-number {
        font-size: 15px;
    }
}

@media screen and (max-width: 580px) {

    /*--------------------------start page----*/
    .start-page_content-text_title {
        font-size: 25px;
    }

    .navigation_container {
        display: none;
        overflow: hidden;
    }

    .burger-menu {
        display: flex;
        overflow: visible;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 22px;
        align-items: center;
        margin: auto 0;
    }

    .line-burger-menu {
        border: 2px solid var(--color-primary);
        width: 30px;
        height: 0px;
    }

    /*--------------------------donation page-----*/
    .donation-page {
        height: 542.2px;

        & .wraper {
            height: 542.2px;
        }
    }

    .donation-page_container {
        width: 300px;
        height: 459px;
    }

    .donation-page_img {
        margin: 0;
        margin-bottom: -4px;

        & img {
            width: 82vw;
        }
    }

    .donation-page_text_container {
        width: 300px;
        height: 281px;
        justify-content: space-between;
        align-items: center;
    }

    .donation-page_header {
        width: 210px;

        font-size: 25px;
        margin: auto;
        line-height: 32.5px;
        text-align: center;
    }

    .donation-page_info-bank {
        line-height: normal;
        letter-spacing: normal;
        padding: 0;
        margin: 0;
    }

    .donation-page_credit-card_container {
        padding: 0;
    }

    .card-box {
        padding: 10px 12px;
        align-items: flex-end;
    }

    .donation-page_subtitle {
        text-align: justify;
        width: 280px;
        padding: 0;
    }

    .card-number {
        font-size: 15px;
    }

    .donation-page_info-bank,
    .donation-page_credit-card_container,
    .donation-page_subtitle,
    .donation-page_header_wraper {
        width: auto;
    }

    /*-------help page-------*/
    .help-page {
        height: 809px;

        & .wraper {
            height: 809px;
        }
    }

    /*------------------------------contacts page------*/
    #contacts-page {
        height: 809px;

        & .wraper {
            height: 809px;
        }
    }

    .contacts-page_container {
        width: 300px;
        height: 809px;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .contacts-page_img {
        margin-top: auto;

        & img {
            width: 81vw;
        }
    }

    .contacts_header,
    .location-header {
        font-size: 25px;
        height: 55px;
    }

    .contacts-page_contacts_container {
        align-items: center;
    }

    .contacts_header_wraper,
    .location-header_wraper {
        width: 300px;
        height: 66px;
    }

    .contacts_header,
    .location-header {
        width: 232px;

        margin: auto;
        text-align: center;
    }

    .contacts-email,
    .contacts-phone {
        display: flex;
        align-items: flex-end;
    }

    .contacts-page_location_container,
    .contacts-page_contacts_container {
        height: 245px;
        width: 300px;

        justify-content: space-between;
        align-items: center;
        margin: auto;
    }

    .location {
        display: flex;
        height: 48px;
    }

    .contacts-page_contacts_container {
        justify-content: space-around;
    }

    .contacts_header {
        line-height: 123%;
    }

    .start-page_img_container {
        margin-left: 0;
    }
}

@media screen and (max-width:405px) {

    /*---------------------------------pets page-----*/
    .pets-page_content_header {
        width: 100%;
        max-width: 320px;
        height: 103px;
        font-size: 25px;
        line-height: 32.5px;
    }

    .pets-page_content_header_container {
        width: 100%;
        max-width: 320px;
        height: 74px;
    }

    .pets-page_slider_container {
        width: 270px;
        height: 480px;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .pets-page_pet-carts_container {
        height: 452px;
        margin: auto;
        overflow: hidden;
        order: -1;
    }

    .slider-arrow {
        margin-top: 0;
    }

    /*----------------------------help page-----*/
    .help-page {
        height: 809px;
    }
}

@media screen and (max-width: 345px) {

    /*---------------------------about page-------*/
    .about-page_content_title {
        font-size: 25px;
    }

    /*------------------------help page----------*/

    .help-page {
        height: 745px;

        & .wraper {
            height: 745px;
        }
    }

    .help-page_container {
        width: 290px;
        height: 661px;
    }

    .help-page_header {
        width: 260px;
        height: 64px;
        font-size: 25px;
    }

    .help-page_icons-container {
        width: 290px;
        height: 555px;
    }

    .help-page_icon-item {
        width: 45%;
        height: 117px;
        margin: 0;
    }

    .icon-name {
        font-size: 15px;
        line-height: 110%;
        letter-spacing: 0.06em;
        text-align: center;
        padding-top: 21px;
    }

    .svg-icon {
        max-width: 50px;
        max-height: 50px;
        margin: auto;

        & svg {
            max-width: 50px;
            max-height: 50px;
        }
    }

    /*------------pets page our pets-----*/
    .btn-container.our-pets-page {
        max-width: 320px;
    }

}

@media screen and (max-width:320px) {
    .wraper {
        max-width: 320px;
    }

    /*----------------------------------start page-----------------*/
    .start-page {
        height: 823px;

        & .wraper {
            height: 823px;
        }
    }

    .header_container_start-page {
        width: 280px;
    }

    .start-page_container {
        width: 300px;
        height: 703px;
        margin: auto;
        align-items: center;
    }

    .start-page_content-text_container {
        width: 300px;
        height: 295px;

        justify-content: space-between;
    }

    .start-page_content-text_title_wraper {
        width: 300px;
        height: 64px;
    }

    .start-page_content-text_title {
        width: 232px;
        margin: auto;
        letter-spacing: 0.06em;
        text-align: center;
    }

    .start-page_content-text_subtitle_wraper {
        width: 300px;
        height: 96px;
    }

    .start-page_content-text_subtitle {
        width: 291px;
        padding: 0;
        margin: auto;
        text-align: center;
    }

    .start-page_button_container {
        padding-left: 0;
        display: flex;
    }

    .start-page_img_container {
        width: 260px;
        height: 271.77px;
        margin-left: 40px;

        & img {
            width: 81vw;
        }
    }

    /*------------------------------about page-------------------------------------------*/

    .about-page {
        height: 974px;

        & .wraper {
            height: 974px;
        }
    }

    .about-page_container {
        height: 890px;
    }

    .about-page_img_container {
        width: 260px;
        height: 353.6px;

        margin: 0;
        padding-bottom: 0;

        & img {
            width: 81vw;
        }
    }

    .about-page_content_container {
        width: 300px;
        height: 494px;
        align-items: center;
        padding: 0;

    }

    .about-page_content_title {
        height: 64px;
        width: 217px;

        text-align: center;
    }

    .about-page_content_subtitle_part-one {
        width: 270px;
        height: 144px;
        text-align: justify;
    }

    .about-page_content_subtitle_part-two {
        width: 270px;
        height: 239px;
        text-align: justify;
    }

    /* ------------------------------pets page---------------------------------------*/

    .pets-page {
        height: 791px;

        & .wraper {
            height: 791px;
        }
    }

    .pets-page_container {
        width: 300px;
        height: 746px;
    }

    .pets-page_content_header_container {
        height: 60px;
    }

    .pets-page_content_header {
        width: 286px;
    }

    .pet-cart-name {
        margin: 30px 0 30px 96px;
    }

    .slider-arrow {
        margin-top: auto;
        margin-bottom: -14px;
    }

    /* --------------------------help page--------------*/
    .help-page {
        height: 745px;

        & .wraper {
            height: 745px;
        }
    }

    .help-page_icons-container {
        height: 585px;
    }

    .icon-name {
        padding-top: 0;
    }

    /* ---------------------------donation page-----------------------*/

    .donation-page_subtitle {
        width: 280px;
    }

    /*-------------------------------------------------------------------------------------*/

    #contacts-page {
        height: 809px;

        & .wraper {
            height: 809px;
        }
    }

    .contacts-page_img {
        width: 260px;
        height: 269px;

        & img {
            width: 81vw;
        }
    }

    /*----------------------pets page our pets-----------------------*/

    .pets-page.our-pets-page {
        height: 1649px;

        & .wraper {
            height: 1649px;
        }
    }

    .pets-page_container.our-pets-page {
        width: 300px;
        height: 1605px;
    }

    .pets-page_pet-carts_container.our-pets-page {
        height: 1450px;
        max-height: 1450px;
    }

    .pets-page_pet-cart.our-pets-page {
        margin-bottom: -36px;
        margin-top: 66px;
    }

    .btn-container.our-pets-page {
        width: 297px;
        height: 74px;
        margin-top: 68px;
    }
}