html {
    font-family: 'Candara';
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

header {
    position: fixed;

    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 10px;
    background-color: #fffffff7;

    .header_name {
        font-size: 40px;
        color: #464b4e;
    }

    .search_container {
        position: relative;

        width: 100%;
        margin: 10px 0px 20px 0px;
        display: flex;

        input {
            width: 95%;
            height: 40px;

            padding-left: 15px;
            font-family: inherit;
            font-size: 1rem;
            background-color: #9e9e9e14;
            border: 1px solid #9e9e9e2b;
            transition: box-shadow 0.15s ease-out;

            &:focus-visible {
                outline: none;
                box-shadow: rgb(43 48 51 / 21%) 3px 6px 29px 1px;
            }
        }

        .icon_delete {
            position: absolute;
            display: flex;
            align-items: center;
            top: 0;
            bottom: 0;
            right: 7.1rem;
            cursor: pointer;
        }

        .icon-search_button {
            position: absolute;

            display: flex;
            align-items: center;
            top: 0;
            bottom: 0;
            right: 1.1rem;
            cursor: pointer;
            border: #607d8b61 1px solid;

            & img {
                width: 30px;
            }

            .search_btn_text {
                font-family: 'Candara';
                font-size: 18px;
                padding-left: 5px;
            }
        }
    }
}

.main-content {
    width: 100%;
    display: flex;
    margin-top: 130px;
}

.navigation_topics_menu {
    position: fixed;
    height: 100%;
    width: 200px;

    background-color: #607d8b08;
    display: flex;
    flex-direction: column;
    padding-top: 10px;

    transform: translateX(0%);
    transition: transform 0.3s ease;

    .topics_header_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        .navigation_topics_header {
            font-size: 16px;
        }
    }

    &.hidden {
        transform: translateX(-100%);
    }

    .tag_btn {
        margin-left: 5px;
        margin-bottom: 10px;
        padding: 7px;
        font-family: inherit;
        cursor: pointer;
        background-color: #9e9e9e14;
        border: 1px solid #9e9e9e2b;
    }
}

.arrow_btn {
    background-color: unset;
    border: none;
    cursor: pointer;

    & img {
        width: 20px;
        height: 20px;
    }

    &.right {
        position: absolute;
        margin-top: 11px;
        display: none;

        &.active {
            display: flex;
        }
    }
}

.photos_container {
    width: calc(100% - 240px);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 40px auto 10px 220px;
    gap: 20px;

    .photo_container {
        max-width: 400px;
        max-height: 270px;

        & img {
            width: 100%;
        }
    }

    &.full_width {
        width: calc(100% - 40px);
        margin-left: 20px;
    }
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-shrink: 0;

    & .year-project,
    & .link-github {
        display: flex;
        align-items: center;
        font-size: 20px;
        text-decoration: unset;
        color: black;
    }

    & .logo-rsschool {
        width: 100px;
    }
}